DataRepair/Service References/RemoteService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.1.5.240:8011/Service.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://10.1.5.240:8011/Service.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.1.5.240:8011/Service.asmx">
      <s:element name="GetHourValue">
        <s:complexType />
      </s:element>
      <s:element name="GetHourValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHourValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayValue">
        <s:complexType />
      </s:element>
      <s:element name="GetDayValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDayValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXianValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="riqi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXianValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXianValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHourValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetHourValue" />
  </wsdl:message>
  <wsdl:message name="GetHourValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetHourValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetDayValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetDayValue" />
  </wsdl:message>
  <wsdl:message name="GetDayValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetDayValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetXianValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetXianValue" />
  </wsdl:message>
  <wsdl:message name="GetXianValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetXianValueResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetHourValue">
      <wsdl:input message="tns:GetHourValueSoapIn" />
      <wsdl:output message="tns:GetHourValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDayValue">
      <wsdl:input message="tns:GetDayValueSoapIn" />
      <wsdl:output message="tns:GetDayValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXianValue">
      <wsdl:input message="tns:GetXianValueSoapIn" />
      <wsdl:output message="tns:GetXianValueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHourValue">
      <soap:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetHourValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayValue">
      <soap:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetDayValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXianValue">
      <soap:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetXianValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHourValue">
      <soap12:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetHourValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayValue">
      <soap12:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetDayValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXianValue">
      <soap12:operation soapAction="http://10.1.5.240:8011/Service.asmx/GetXianValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.1.5.240:8011/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.1.5.240:8011/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>